<tbody style="height: 46rem !important;">
{% for item in lstSousF %}
                          <tr>
                              <td>{{item.ID_FamilleSousC}}</td>
                              <td>{{item.FamilleSousC}}</td>
                              <td>{{item.SArabeC}}</td>
                              <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                          </tr>
{% endfor %}                         
                      </tbody>